<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<div>

    {{#if errors}}
    <div>
        <div class="errorContainer">
            {{#each errors}}
            <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
    {{/if}}

    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/apartaments">Housing for rent</a></li>
            {{#if user}}
            <!-- Logged users -->
            <li><a href="/houses/create">Create offer</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <!-- Guest users and Logged users -->
            {{else}}
            <!-- Guest users -->
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>

    <body>
        {{{body}}}
    </body>
</div>

</html>