<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<div>
    <!--
    <div>
        <div class="errorContainer">
            <p>Error</p>
        </div>
    </div>-->

    <nav>
        <a href="/">Home</a>
        <ul>
            <!-- Guest users and Logged users -->
            <li><a href="#">Housing for rent</a></li>
            <!-- Guest users -->
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
            <!-- Logged users -->
            <li><a href="#">Create offer</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>

    <body>
        {{{body}}}
    </body>
</div>

</html>